<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../public/styles/style.css">
</head>
<body>
    <h1>A Brief History of Marsha P. Johnson</h1>
    <h2>(1945-1992)</h2>
    <img class="marsha" src="../public/images/marshaP.jpg" alt="marsha"><br>
    <a class="button" href="/views/pagetwo.html" >About Marsha</a>
    <a class="button" href="/views/pagethree.html" >Her Work</a>
</body>
</html>